<!DOCTYPE html>
<html lang="en">
<style>
    div{
        margin-top: 200px;
        text-align: center;
    }
    a{
        color: black;
        background-color: rgb(197, 156, 235);
        padding: 7px;
        border: 1px solid black;
        text-decoration: none;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success-Login Now</title>
</head>
<body style="background-color: coral ;">
<div>
    <h2>Data saved successfully..!</h2>

    <a href="/login/" >Go to Login</a>
</div>

</body>
</html>